<!--
<div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
  <div fxFlex="20%">
    <app-product-card  [product]="product" *ngFor="let product of products$ | async "></app-product-card>
  </div>
</div>
-->

<div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center" class="cards-container">
  <div
      *ngFor="let product of products$ | async "
      class="panel-line-block"
      fxFlex="18"
      fxFlex.md="23"
      fxFlex.sm="31"
      fxFlex.xs="48"
      fxLayout="column"
     >
     <app-product-card [product]="product"></app-product-card>
  </div>
</div>
